.docs.flex-horizontal
	aside.flex-item

		dl
			dt Provider
			dd(ui-sref="docs.page({ page:'provider/$routeProvider' })") $routeProvider
			dd(ui-sref="docs.page({ page:'provider/$serverProvider' })") $serverProvider

		dl
			dt Service
			dd $route
			dd $server



	main(ui-view="", autoscroll="false").flex-item-stretch
		h1 Docs