.docs.flex-horizontal
	aside.flex-item

		dl(ng-repeat="group in docs.groups")
			dt {{group.title}}
			dd(
				ng-repeat="item in group.items",
				ui-sref="docs.page({ page: group.path + '/' + item})",
				ui-sref-active="active"
			) {{ item }}

	main(ui-view="", autoscroll="false").flex-item-stretch
		ng-include(src="'./docs/index.md'", marked="")