.page {
	margin: 1em 0;

	aside {
		padding: 1em;
		width: 240px;
		margin-right: 2em;
		font-size: .9em;
		background: mix(white, $navy, 95%);
		border-radius: 3px;
		font-weight: 400;

		dl {
			dt {
				font-size: 1.2em;
				margin-bottom: .5em;
				border-bottom: 1px solid rgba(black, .15);
				font-weight: 400;
			}
			dd {
				line-height: 1.5;

			}

			&+dl {
				margin-top: 1.4em;
			}
		}
	}

	main {

	}
}
