h1 Register
form(method="POST", action="/auth/register")
	input(type="text", name="username", placeholder="Username")
	input(type="text", name="email", placeholder="eMail")
	input(type="password", name="password", placeholder="Password")
	button Register
